.product-detail-container{
    display:flex;
    justify-content:center;
    margin-top:40px;
}

.product-card{
    display:flex;
    gap:40px;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
    width:800px;
}

.product-image img{
    width:300px;
    border-radius:10px;
}

.product-info h2{
    margin-bottom:10px;
}

.product-info p{
    margin:6px 0;
}

.meeting-btn{
    margin-top:20px;
    padding:12px 20px;
    background:green;
    color:white;
    border:none;
    border-radius:6px;
    cursor:pointer;
    font-size:16px;
}

.meeting-btn:hover{
    background:darkgreen;
}